- load i18n
- load gameforum

- if poll.is_open
	- if user_can_vote
		%form{'method':'post'}
			- csrf_token
			- include 'snippets/form_fields_only.haml'
			<button type="submit" class="submit">{% trans "vote" %}</button>
	- else
		%ul.poll.choices.open.unstyled
			- for choice in poll.choices.all
				%li
					.info
						= choice|safe
						= choice.voices.all.count
						{% trans "voices" %}
							- if not poll.is_anonymous
								%ul.voices.unstyled
									- for voice in choice.voices.all
										%li
											%a{'href': '{% url games:character game.id voice.character.id %}'}
												= voice.character
					.progress.progress-striped{'class': '{% if choice.is_leading %}progress-success{% endif %}'}
						.bar{'style': 'width: {{ choice.percentage }}%;'}

		{% trans "you have already voted or can not vote" %}
- else
	%ul.poll.choices.closed
		- for choice in poll.choices.all
			%li.progressbar
				.bar{'style': 'width: {{ choice.percentage|poll_bar_width:600 }};'}
				.info
					= choice|safe
					= choice.voices.all.count
					{% trans "voices" %}
						- if not poll.is_anonymous
							%ul.voices
								- for voice in choice.voices.all
									%li
										%a{'href': '{% url games:character game.id voice.character.id %}'}
											= voice.character