- load i18n
- load gameforum

%table.forum.game_forum.table.table-striped.table-bordered.table-condensed
	%thead
		%tr.room_list
			%th
			%th {% trans "room" %}
			%th {% trans "thread count" %}
			%th {% trans "post count" %}
			%th {% trans "latest post" %}
	%tbody
		- for room in rooms
			%tr{'style':'background-color: {{ room.color }};'}
				%td.service.status
					- if forum_mode
					- elif not plot_mode
						- if not room|is_read:request.user
							%a{'href':'{{ room|get_first_unread_post_link:request.user }}'}
								%span.is_unread
									{% trans "is unread" %}
						- else
							%span.is_read
								{% trans "is read" %}
				%td.essence
					- if forum_mode
						%a{'href': '{% url forum:room room.id %}'}
							= room.title
					- elif plot_mode
						%a{'href': '{% url plots:room plot.id variation.id room.id %}'}
							= room.name
					- else
						%a.name{'href': '{% url games:room game.id room.id %}'}
							= room.name
					- if room.description
						.description
							= room.description|safe
					- if room.moderators
						%h6.moderators {% trans "moderators" %}:
						%ul.moderators
							- if plot_mode
								- for moderator in room.moderators.all
									%li
										= moderator
							- else
								- for moderator in room.moderators.all
									%li
										%a{'href': '{% url games:character game.id moderator.id%}'}
											{{ moderator }}
					%ul.actions
						- if plot_mode
							%li.edit_room
								%a{'href': '{% url plots:edit_room plot.id variation.id room.id %}'}
									{% trans "edit room" %}
				%td.service
					- if forum_mode
					- elif not plot_mode
						= room|thread_count:request.user
					- else
						= room.threads.count
				%td.service
					- if forum_mode
					- elif not plot_mode
						= room|post_count:request.user
					- else
						= room.posts.count
				%td.service
					- if forum_mode
					- elif not plot_mode
						- with post=room|latest_post:request.user
							- include 'snippets/latest_post.haml'
					- else
						= room.latest_post